.aboutme {
  font-style: italic;
  font-family: sans-serif;
}

.blog {
  background: grey;
  font-family: cursive;
  margin-top: 10px;
  margin-bottom: 15px;
}

.blog2 {
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
}
